# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.expo
build

# Turbo
.turbo

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/
web-build/

# Prisma
prisma/migrations/*.sql

# IDE
.vscode/settings.json
.idea/
